body {
  
  size: 18px;
  background-color: rgb(254, 251, 251);
  font-family: Helvetica, sans-serif;
  color: rgb(11, 11, 11);
}
header {
  font-family: Arial, sans-serif;
  color:white;
  text-align: center;
  size: 35em;
  margin: 5% 0;
background-color: rgb(95, 198, 253);
}

h1 {
font-size: 20px;
}

footer{
  background-color: rgb(65, 43, 43);
  color: white;
  text-align: center;
}
